<div class="panel panel-default">
    <div class="panel-heading">Results list - PETS</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-4">
                <select class="form-control"  data-ng-model="catId"
                        data-ng-options="c.id as c.name for c in categories" data-ng-change="selectCategory(catId)">
                    <option value=''>Выберите категорию</option>
                </select>
            </div>
            </br></br></br>
            <div class="col-sm-12" data-ng-show="pets.length">
                <table class="table table-bordered table-hover table-condensed dataTable">
                    <thead>
                    <tr>
                        <th  class="col-sm-1 text-center">Имя</th>
                        <th  class="col-sm-8 text-center">Описание</th>
                        <th  class="col-sm-1 text-center">Категория</th>
                        <th  class="col-sm-1 text-center">Цена</th>
                        <th  class="col-sm-1 text-center">Дата</th>
                    </tr>
                    </thead>
                    <tr data-ng-repeat="p in pets">
                        <td class="text-center" style="word-wrap: break-word;min-width: 160px;max-width: 160px;">
                            <a href="{{p.url}}"  target="_blank" >{{p.name}}</a>
                        </td>
                        <td class="text-center">{{ p.description }}</td>
                        <td class="text-center">{{ p.category.name }}</td>
                        <td class="text-center">{{ p.price }}</td>
                        <td class="text-center">{{ p.date | date: "dd.MM.yyyy" }}</td>
                    </tr>
                </table>
                <div class="col-sm-12 text-center">
                    <pagination total-items="totalItems" ng-model="currentPage" max-size="9" rotate="false"
                                items-per-page="itemsPerPage" ng-change="pageChanged()"></pagination>
                </div>

            </div>
        </div>


    </div>
</div>